main {
  overscroll-behavior-y: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.App {
  text-align: center;
}

.nav-bar {
  position: fixed;
  height: 10vh;
  width: 99.6vw;
  margin-top: 7px;
  background-color: #37000A;
  border: 1px solid;
  border-color: #E1B866;
  overscroll-behavior-y: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.nav-bar__app-name {
  width: 809px;
  margin: 16px 0px 0px 13px;
  font-family: 'Barrio';
  font-size: 60px;
  font-weight: 800;
  background-color: cadetblue;
  border-radius: 168px;
  color: mistyrose;
  opacity: 98%;
}

.nav-bar__logo {

}

/* font-family: 'Federant', cursive;
font-family: 'Monofett', cursive; */
