@import './mixins.scss';

.logo {
  height: 89px;
  width: 141px;
  border-radius: 22px;
}

.nav-bar {
  position: fixed;
  height: 7.5vh;
  width: 100vw;
  margin-top: -2px;
  background-color: #260D0D;
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-color: darkred;
  z-index: 1;
}

.nav-bar__app-title {
  @include pos-fontfam-size-weight-color-zindex(12px, bold, lightsalmon, 6)
  margin: 87px 0px 0px 27px;
}

.nav-bar__app-name {
  @include pos-fontfam-size-weight-color-zindex(32px, 800, darkred, 3)
  text-align: center;
  height: 88px;
  width: 141px;
  margin: 11px 0px 0px 13px;
  background-color: #FFBCB5;
  border: 3px solid;
  border-color: darkred;
  border-radius: 25px;
  opacity: 98%;
}

.nav-bkg {
  @include flex-fixed-width-zindex(100vw);
  height: 24.4vh;
  margin-top: -52px;
  opacity: 95%;
}

.bottom-nav__image {
  @include flex-fixed-width-zindex(100vw);
  bottom: -43px;
}
