/* main {
  display: flex;
  overscroll-behavior-x: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
} */

.nav-bar {
  position: fixed;
  height: 7.5vh;
  margin-top: -2px;
  width: 100vw;
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-color: darkred;
  z-index: 1;
}

.nav-bar__logo {
  height: 5vh;
  width: 7vw;
}

.nav-bar__app-name {
  width: 176px;
  margin: 9px 0px 0px 13px;
  font-family: 'Angkor';
  font-size: 32px;
  font-weight: 800;
  text-align: center;
  background-color: #FFBCB5;
  border: 3px solid;
  border-color: darkred;
  border-radius: 25px;
  color: darkred;
  opacity: 98%;
}

.nav-bar__logo {

}

.nav-bkg {
  position: fixed;
  display: flex;
  margin-top: -8px;
  z-index: 1;
  height: 9.4vh;
  width: 100vw;
  opacity: 95%;
}
