.movies-container__featured-text {
  display: flex;
  margin: 117px 0px 0px 62px;
  font-family: 'Francois One', sans-serif;
  font-variant: small-caps;
  font-stretch: expanded;
  font-size: 2rem;
  font-weight: bolder;
  color: darkcyan;
}

.movies-container__featured {
  display: flex;
  flex-direction: column;
  height: 353vh;
  background-color: #FFDEE9;
  background-image: linen;

}

.featured__card-holder {
  display: flex;
  flex-wrap: wrap;
}
