.movies-container__movie-lists {
  display: flex;
  flex-direction: column;
  height: 383vh;
  position: absolute;
}

.movie-lists__card-holder {
  display: flex;
  flex-wrap: wrap;
  margin-top: 75px;
}

.background-image {
  position: fixed;
  display: flex;
  z-index: 0;
  height: 100vh;
  width: 100vw;
  filter: grayscale();
}
