@import './mixins.scss';

.movies-container__featured {
  @include flex-pos-height(absolute, 383vh)
  flex-direction: column;
}

.featured__card-holder {
  display: flex;
  flex-wrap: wrap;
  margin-top: 75px;
}

.background-image {
  @include flex-pos-height(fixed, 100vh)
  width: 100vw;
  z-index: 0;
}
