.card-holder__movie-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40vh;
  width: 9vw;
  margin: 49px 30px 29px 38.1px;
}

.movie-card__movie-poster {
  height: 38.8vh;
  width: 12.6vw;
  border: 3px solid #2F2F2F;
  box-shadow: -15px -15px 5px -3px rgba(0,0,0,0.75);
  cursor: pointer;
}

.movie-card__movie-poster:hover {
  border: 7px solid #AF3D4E;
}

.movies-card__movie-title {
  text-align: center;
  margin: 1px;
  font-family: 'Courier';
  font-size: 18px;
  font-weight: 900;
  color: #2F2F2F;
}

.movie-card__movie-title:hover {
  color: #AF3D4E;
}
