@keyframes fadeinbackground {
  from { opacity: 0%}
  to   { opacity: 80%}
}

.single-movie-info__info-background {
  background-color: white;
  position: fixed;
  opacity: 80%;
  animation: fadeinbackground ease-in 2.9s;
  height: 80vh;
  border-radius: 35px;
  width: 94vw;
  margin: 128px 0px 0px 40px;
  z-index: -1;
}

@keyframes fadein {
  from { opacity: 0%}
  to   { opacity: 100%}
}

.single-movie-info__movie-poster {
  height: 107vh;
  width: 100vw;
  animation: fadein 3s;
  position: absolute;
  z-index: -2;
  overflow-y: hidden;
}

@keyframes slideuptitle {
  from { margin-top: 1134px}
  to   { margin-top: 134px}
}

.single-movie-info__title {
  display: flex;
  position: fixed;
  margin: 134px 0px 0px 58px;
  z-index: 0;
  font-family: 'Francois One', sans-serif;
  font-family: 'Roboto Slab', serif;
  font-size: 80px;
  animation: slideuptitle ease 2s;
  color: darkred;
}

@keyframes slideupgenres {
  from { margin-top: 1220px}
  to   { margin-top: 220px}
}

.single-movie-view__genres {
  display: flex;
  position: fixed;
  margin: 220px 0px 0px 69px;
  z-index: 0;
  font-family: 'Francois One', sans-serif;
  font-family: 'Roboto Slab', serif;
  font-size: 17px;
  animation: slideupgenres ease 2.2s;
  color: darkred;
}

@keyframes slideupreleasedate {
  from { margin-top: 1240px}
  to   { margin-top: 240px}
}

.single-movie-view__release-date {
  display: flex;
  position: fixed;
  margin: 240px 0px 0px 69px;
  z-index: 0;
  font-family: 'Francois One', sans-serif;
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  animation: slideupreleasedate ease 2.4s;
  color: darkred;
}

@keyframes slideuprating {
  from { margin-top: 1305px}
  to   { margin-top: 305px}
}

.single-movie-view__rating {
  display: flex;
  position: fixed;
  margin: 305px 0px 0px 69px;
  z-index: 0;
  font-family: 'Francois One', sans-serif;
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
  animation: slideuprating ease 2.6s;
  color: darkred;
}

@keyframes slideuptagline {
  from { margin-top: 1397px}
  to   { margin-top: 397px}
}

.single-movie-view__tagline {
  display: flex;
  position: fixed;
  margin: 397px 0px 0px 69px;
  z-index: 0;
  font-family: 'Francois One', sans-serif;
  font-family: 'Roboto Slab', serif;
  font-size: 15px;
  animation: slideuptagline ease 2.8s;
  color: darkred;
}

@keyframes slideupoverview {
  from { margin-top: 1447px}
  to   { margin-top: 447px}
}

.single-movie-view__overview {
  display: flex;
  position: fixed;
  margin: 447px 0px 0px 69px;
  width: 1293px;
  z-index: 0;
  font-family: 'Francois One', sans-serif;
  font-family: 'Roboto Slab', serif;
  font-size: 21px;
  animation: slideupoverview ease 3s;
  color: darkred;
}

@keyframes slideupbudget {
  from { margin-top: 1590px}
  to   { margin-top: 590px}
}

.single-movie-view__budget {
  display: flex;
  position: fixed;
  margin: 590px 0px 0px 69px;
  z-index: 0;
  font-family: 'Francois One', sans-serif;
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  animation: slideupbudget ease 3.2s;
  color: darkred;
}

@keyframes slideupbutton {
  from { margin-top: 1623px}
  to   { margin-top: 623px}
}

.single-movie-info__home-view-button {
  font-family: 'Francois One', sans-serif;
  font-family: 'Roboto Slab', serif;
  height: 10vh;
  width: 15vw;
  background-color: orange;
  color: blue;
  display: flex;
  position: fixed;
  margin: 623px 0px 0px 58px;
  z-index: 0;
  font-size: 25px;
  animation: slideupbutton ease 3.4s;
}
